[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
openai = "*"
python-dotenv = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
django-jet-reboot = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
